{%extends 'asistencia/index.html'%}
{% load static %}

		{%block title%}Academia Municipal	{%endblock%}	

		{%block body%}
			<div class="row">
				<div class="col s6">
  					<div class="container section">
    					<form  method="get" action="" >
								<div class="input-field">
								<i class="material-icons prefix">search</i>
								<input type="text" name="estudiante_id" id="autocomplete-input" class="autocomplete" >
								<label for="autocomplete-input">Codigo de Alumno</label>
								<button  class="btn waves-effect waves-light" type="submit" value="elegir_estudiante">Buscar
									 <i class="material-icons right">send</i>
									</button>
								</div>
						</form>
					</div>
  				
			  		<div class="container divider"></div>
			  		<div class="container section">
			  			<h3>Resultado de Examenes</h3>
							<table>
								<thead>
								<tr>
									<th>Codigo</th>
									<th>Fecha</th>
									<th>Nota</th>
								</tr>
								</thead>

								<tbody>
									{%for examen in estudiante.examen_set.all%}
								<tr>
									<td>{{examen.codigo}}da</td>
									<td>{{examen.fecha}}</td>
									<td>{{examen.nota}}</td>
								</tr>
									{%endfor%}
								</tbody>
							</table>
 					</div>
				</div>
				<div class="col s6">
					<div class="container section">
					<div class=" card horizontal ">
						<div class="card-image estudiante">
							<i class="large material-icons center-align">account_circle</i>
						</div>
					<div class="card-stacked">
						<div class="card-content  ">
							<div class="row">
						      <div class="col s6">
						      	<ul>
						      		<li>Nombre</li>
						      		<li>Apellido</li>
						      		<li>DNI</li>
						      	</ul>
						      </div>
						      <div class="col s6">
						      	<ul>
						      		<li>{{estudiante.nombre}}</li>
						      		<li>{{estudiante.apellido}}</li>
						      		<li>{{estudiante.dni}}</li>
						      	</ul>
						      </div>
						    </div>
						</div>						
					</div>
					</div>
					</div>
					<div class="container divider"></div>
					<div class="container section">
						 <h3 class="header">Registro de Asistencia</h3>
						  <div class="card-panel transparent">
							
							<div class="row">
								<h6>Ingrese la Fecha</h6>
					

						<form  method="POST" action="">
						{%csrf_token%}
			<div class="col s12">
				<label>
					{{form.estudiante}}
				</label>
			</div>
	<div class="col s1">
		<i class="small material-icons date ">date_range</i>
			</div>
	  	<div class="col s11">
	  		
 		 		{{form.fecha}}
			<label for="fecha" ></label>
		</div>
	
		<h6 class="header turno">Turno</h6>

		<div class="col s4">
			<label>
				{{form.registro_dia}}
				<span>Mañana</span>
			</label>
		</div>
		<div class="col s4">
			<label>
				{{form.registro_tarde}}
				<span>Tarde</span>
			</label>
		</div>
		<div class="col s4">
			<label>
				{{form.registro_seminario}}
				<span>Seminario</span>
			</label>
		</div>
		<div class="col s12 center-align">
			<button class="waves-effect waves-light btn registrar" type="submit">Registrar</button>
		</div>			


		</form>
						</div>
						  </div>
					</div>
				</div>

			</div>
	{%endblock%}	

	{%block script%}
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
		var elems_sidenav = document.querySelectorAll('.sidenav');
		var instances_sidenav = M.Sidenav.init(elems_sidenav, options);
		
		var elems_autocomplete = document.querySelectorAll('.autocomplete');
		var instances_autocomplete = M.Autocomplete.init(elems_autocomplete, options);

		var elems_datepicker = document.querySelectorAll('.datepicker');
    	var instances_datepicker = M.Datepicker.init(elems_datepicker, options);
		});


		$(document).ready(function(){
			$('.datepicker').datepicker({
				format:'yyyy-mm-dd',
				
			});
			$('.sidenav').sidenav();
			$('input.autocomplete').autocomplete({
				data: {
				{% for estudiant in estudiantes_list %}
					{{estudiant.dni}}:null,
				{% endfor %}
				},
    		});
		});
        
	</script>	
	{%endblock%}



