{%extends 'asistencia/index.html'%}
{% load static %}

		{%block title%}Academia Municipal	{%endblock%}	

		{%block body%}
			<div class="row">
				<div class="col s6" style=" border-right: 1px solid #e0e0e0">
  					<div class="container section">
    					<form  method="get" action="" >
								<div class="input-field">
								<i class="material-icons prefix">search</i>
								<input type="text" name="estudiante_id" id="autocomplete-input" class="autocomplete" >
								<label for="autocomplete-input">Codigo de Alumno</label>
								<button  class="btn waves-effect waves-light" type="submit" value="elegir_estudiante">Buscar
									 <i class="material-icons right">send</i>
									</button>
								</div>
						</form>
					</div>
  				
			  		<div class="container divider"></div>
			  		<div class="container section">
			  			<div class=""><h4>Resultado de Examenes</h4></div>
						<ul id="dropdown2" class="dropdown-content">
						<li><a href="{% url 'asistencia:some_reporte_alumno' estudiante.dni %}">Reporte <i class="material-icons right">picture_as_pdf</i></a></li>
						<li><a class="modal-trigger" href="#modal1">Grafico<i class="material-icons right">show_chart</i></a>
							
						</li>
						</ul>
						<a class="btn dropdown-trigger" href="#!" data-target="dropdown2">Generar Reporte<i class="material-icons right">arrow_drop_down</i></a>
						<div id="modal1" class="modal">
								<div class="modal-content">
								<h4>Grafico</h4>
								  <canvas id="myChart"></canvas>
								</div>
							</div>
							<table>
								<thead>
								<tr>
									<th class="center-align">Numero</th>
									<th>Fecha</th>
									<th>Nota</th>
								</tr>
								</thead>

								<tbody>
									{%for examen in estudiante.examen_set.all%}
								<tr>
									<td class="center-align">{{forloop.counter}}</td>
									<td>{{examen.ranking.fecha}}</td>
									<td>{{examen.nota}}</td>
								</tr>
									{%endfor%}
								</tbody>
							</table>
 					</div>
				</div>
				<div class="col s6">
					<div class="container section">
					<div class=" card horizontal ">
						<div class="card-image estudiante">
							<i class="large material-icons center-align">account_circle</i>
						</div>
					<div class="card-stacked">
						<div class="card-content  ">
							<div class="row">
						      <div class="col s6 m6 l6 xl6">
						      	<ul>
						      		<li class="col s12 m12 l12 xl12">Nombre</li>
						      		<li class="col s12 m12 l12 xl12">Apellido</li>
						      		<li class="col s12 m12 l12 xl12">DNI</li>
						      	</ul>
						      </div>
						      <div class="col s6 m6 l6 xl6">
						      	<ul>
						      		<li class="col s12 m12 l12 xl12" >{{estudiante.nombre}}</li>
						      		<li class="col s12 m12 l12 xl12">{{estudiante.apellido}}</li>
						      		<li class="col s12 m12 l12 xl12">{{estudiante.dni}}</li>
						      	</ul>
						      </div>
						    </div>
						</div>						
					</div>
					</div>
					</div>

					<div class="container divider"></div>
					<div class="container section">
						 <h3 class="header">Registro de Asistencia</h3>
						  <div class="card-panel transparent">
							
							<div class="row">
								<h6>Ingrese la Fecha</h6>
					

						<form  method="POST" action="">
						{%csrf_token%}
			<div class="col s12">
				<label>
					{{form.estudiante}}
				</label>
			</div>
	<div class="col s1">
		<i class="small material-icons date ">date_range</i>
			</div>
	  	<div class="col s11">
	  		
 		 		{{form.fecha}}
			<label for="fecha" ></label>
		</div>
	
		<h6 class="header turno">Turno</h6>

		<div class="col s4">
			<label>
				{{form.registro_dia}}
				<span>Mañana</span>
			</label>
		</div>
		<div class="col s4">
			<label>
				{{form.registro_tarde}}
				<span>Tarde</span>
			</label>
		</div>
		<div class="col s4">
			<label>
				{{form.registro_seminario}}
				<span>Seminario</span>
			</label>
		</div>
		<div class="col s12 center-align">
			<button class="waves-effect waves-light btn registrar" type="submit">Registrar</button>
			<a  class="dropdown-trigger btn  waves-effect waves-light red lighten-2" data-target='dropdown1' style="margin-top:10px">Ver Todo</a>

			<ul id='dropdown1' class='dropdown-content'>
			<li><a href="{%url 'asistencia:some_asistencia' estudiante.dni %}"><i class="material-icons">picture_as_pdf</i>Reporte</a></li>
			<li><a href="{%url 'admin:asistencia_estudiante_change' estudiante.dni %}"><i class="material-icons">assignment_ind</i>Ver Pagina</a></li>
			</ul>
		</div>			


		</form>
						</div>
						  </div>
					</div>
				</div>

			</div>
	{%endblock%}	

	{%block script%}
	<script src="{% static 'asistencia/js/Chart.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'asistencia/js/materialize.min.js' %}"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
	
		var elems_modal = document.querySelectorAll('.modal');
    	var instances = M.Modal.init(elems_modal);
		
    
		});
			var elems_dropdown = document.querySelectorAll('.dropdown-trigger');
    	var instances_dropdown = M.Dropdown.init(elems_dropdown, {
				onOpenStart: function () {
					setChart_examenes_alumno()
					console.log("I trigger as soon as the page is loaded");
				}
});

		$(document).ready(function(){
		
	
			$('.datepicker').datepicker({
				format:'yyyy-mm-dd',
				
			});
			$('.sidenav').sidenav();
			$('input.autocomplete').autocomplete({
				data: {
				{% for estudiant in estudiantes_list %}
					{{estudiant.dni}}:null,
				{% endfor %}
				},
    		});
		});
        var endpoint= "{%url 'asistencia:get_data_estudiante' estudiante.dni %}"
		var defaultData=[]
		var labels=[];
		$.ajax({
		    method: "GET",
		    url : endpoint,
		    success: function(data){
		        labels=data.labels
		        defaultData=data.default
		      
		    },

		    error: function(error_data){
		        console.log("error")
		        console.log(error_data)
		    }
		})
		function setChart_examenes_alumno(){
		    var ctx = document.getElementById('myChart').getContext('2d');
		    var myChart = new Chart(ctx, {
		    type: 'line',
		    data: {
		        labels: labels,
		        datasets: [{
		            label: 'Fecha-Nota',
		            data: defaultData,
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.2)',
		                'rgba(54, 162, 235, 0.2)',
		                'rgba(255, 206, 86, 0.2)',
		                'rgba(75, 192, 192, 0.2)',
		                'rgba(153, 102, 255, 0.2)',
		                'rgba(255, 159, 64, 0.2)'
		            ],
		            borderColor: [
		                'rgba(255, 99, 132, 1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(255, 206, 86, 1)',
		                'rgba(75, 192, 192, 1)',
		                'rgba(153, 102, 255, 1)',
		                'rgba(255, 159, 64, 1)'
		            ],
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero: true
		                }
		            }]
		        }
		    }
		});
		}
	</script>	
	{%endblock%}



{%block script_base%}
{%endblock%}