{% load static %}
<html>
	<head>
		<title>{% block title%}Academia Municipal{% endblock %}</title>
		{% block header %}

		<link rel="stylesheet" type="text/css" href="{% static 'asistencia/css/materialize.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'asistencia/style.css' %}">
		
		<link rel="stylesheet" href="{% static 'asistencia/icons.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{% endblock %}

	</head>

	<body>

		<ul id="slide-out" class="sidenav">
			<li><div class="user-view">
				<div class="background teal lighten-2">
			
				</div>
				<a href="#user"><i class="medium material-icons ">account_circle</i></a>
				<a href="#name"><span class="white-text name">{{user.username}}</span></a>
				<a href="#email"><span class="white-text email">{{user.email}}</span></a>
				</div>
			</li>
			{% block sidenav %}
			<li><a href="{%url 'admin:index'%}"><i class="material-icons">assignment_ind</i>Panel de Administrador</a></li>
			<li><a href="{%url 'logout'%}"><i class="material-icons">exit_to_app</i> Cerrar Sesión</a></li>
			<li><div class="divider"></div></li>
			{% endblock %}
			<li><a class="subheader">Editar Datos</a></li>
			<li><a class="waves-effect" href="{%url 'admin:auth_user_change' user.id%}">Modificar Informacion</a></li>
			<li><a href="{%url 'admin:password_change'%}">Cambiar Contraseña</a></li>
			<li><a href="{%url 'admin:auth_user_add' %}">Agregar Usuario</a></li>
			<li><a class="subheader">Alumnos</a></li>
			<li><a href="{%url 'admin:asistencia_permiso_add'%}">Generar Permiso</a></li>
			<li><a href="{%url 'admin:asistencia_permiso_changelist'%}">Ver Permisos</a></li>			
		</ul>
	

		<nav>
			{% block nav %}
			<div class="nav-wrapper indigo darken-1">
				<div class="container">
				<a href="{%url 'asistencia:index'%}" class=" brand-logo">Academia Municipal</a>	
				<ul class="right hide-on-med-and-down">
					<li><a href="{%url 'asistencia:ranking'%}">Ranking</a></li>
					<li><a href="{%url 'asistencia:grupo'%}">Grupos</a></li>
					<!-- Dropdown Trigger -->
					<li><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons right">account_circle</i>{{user}}</a></li>

				</ul>
			</div>
		</div>
			{% endblock %}
		</nav>

		{%block body %}
		
		<div class="row">
			<div class="col s3 index">
				<div class="container">
					<div class="row">
						<div class="col s12 m7">
							<div class="card" style="width: 200px">
								<div class="card-image">
									<img src="{%static 'asistencia/images/logo_municipio.jpg'%}">
									</div>
								<div class="card-content">
									<p class="card-title black-text text-black">Municipalidad Provincial de Espinar</p>
								</div>
								
							</div>
						</div>
					</div>
					<div class="divider"></div>
					<div class="section">
						
				  </div>    
			</div>
		</div>

				<div class="col s9">
				<div class="nav-wrapper">
					{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
					<form  method="get">
							<div class="input-field col s6">
							<i class="material-icons prefix">search</i>
							<input type="text" name="estudiante_id" id="autocomplete-input" class="autocomplete" >
							<label for="autocomplete-input">Codigo de Alumno</label>
							<button  class="btn waves-effect waves-light" type="submit" value="elegir_estudiante">Buscar
   							 <i class="material-icons right">send</i>
 							</button>
						</div>
					</form>
				</div>
				{%block content%}
		{%endblock%}
			
			</div>


		</div>	
		{% endblock%}
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="{% static 'asistencia/js/materialize.min.js' %}"></script>
	{%block script%}
	<script type="text/javascript">


		document.addEventListener('DOMContentLoaded', function() {
		var elems_sidenav = document.querySelectorAll('.sidenav');
		var instances_sidenav = M.Sidenav.init(elems_sidenav, options);
		
		var elems_autocomplete = document.querySelectorAll('.autocomplete');
		var instances_autocomplete = M.Autocomplete.init(elems_autocomplete, options);
		
		var elems_select = document.querySelectorAll('select');
    	var instances_select = M.FormSelect.init(elems_select, options);
    	
    	var elems_carousel= document.querySelectorAll('.carousel');
    	var instances_carousel= M.Carousel.init(elems_carousel, options);

    	var elems_tooltip = document.querySelectorAll('.tooltipped');
    	var instances_tooltip = M.Tooltip.init(elems_tooltip, options);
		});


		$(document).ready(function(){

			$('.tooltipped').tooltip();
			$('.carousel').carousel();
			$('select').formSelect();
			$('.sidenav').sidenav();
			$('input.autocomplete').autocomplete({
				data: {
				{% for estudiante in estudiantes_list %}
					{{estudiante.dni}}:null,
				{% endfor %}
				},
    		});
		});
        
	</script>	
	{%endblock%}
	</body>
	
</html>



