{%extends 'asistencia/index.html'%}
{% load static %}
{%block title%} Ranking Semanal{%endblock%}
{%block body%}

<div class="container row">
	<div class="col s3 m3 l3 xl3 index">
		<div class="section">
			<h5>Seleccionar</h5>
			<form method="GET" >
				{{form.as_p}}
				<button class="waves-effect waves-light btn registrar" name="area_get" type="submit">Buscar</button>
			</form>
		</div>
		<div class="divider"></div>
		<div class="section">

			<form method="GET">
				<div class="input-field">		
						<select name="rankinglist_id">
							<option value="" disabled selected>Ranking</option>
							{%for ranking in ranking_list %}
								<option value="{{ranking.id}}">{{ranking.fecha}}</option>
							{%endfor%}
						</select>
						<label>Ranking</label>
					</div>
				<button class="waves-effect waves-light btn registrar" name="ranking_get" type="submit">Buscar</button>
			</form>
		</div>
		<div class="divider"></div>
		<div class="section row">
			<div class="col s12 m12 l12 xl12"><h5>Cambios</h5></div>
			<div class="col s6 m6 l6 xl6">
				<a class="btn waves-effect waves-light red lighten-2 col s12 m12 l12 xl12" href="{%url 'admin:asistencia_ranking_add' %}">Agregar</a>		
			</div>
			<div class="col s6 m6 l6 xl6">
				<a class="btn waves-effect waves-light red lighten-2 col s12 m12 l12 xl12" href="{%url 'admin:asistencia_ranking_changelist' %}">Eliminar</a>
			</div>
			<div class="col s6 m6 l6 xl6 center-align" style="margin-top: 20px">

				<a href="{%url 'asistencia:some_view' ranking_default.id %}" class="btn-floating btn-large tooltipped waves-effect waves-light red lighten-2 " data-position="bottom" data-tooltip="Generar Reporte"><i class="material-icons">picture_as_pdf</i></a>
			</div>
			<div class="col s6 m6 l6 xl6 center-align" style="margin-top: 20px">
				<a  class="btn-floating dropdown-trigger btn-large  tooltipped waves-effect waves-light red lighten-2 " data-position="bottom" data-tooltip="Generar Grafico Por Area" data-target='droparea'><i class="material-icons">show_chart</i></a>
				<ul id='droparea' class='dropdown-content teal lighten-2' >
					<li><a href="{%url 'asistencia:pruebas' 'Ingenierias' %}" class="black-text">Ingenierias</a></li>
					<li><a href="{%url 'asistencia:pruebas' 'Sociales' %}" class="black-text">Sociales</a></li>
					
				</ul>
        
			</div>
			
		</div>
		<div class="divider"></div>
		<div class="section">

			
		</div>
	</div>	

	<div class="col s9 m9 l9 xl9">
		<div class="section">
			<div class="row">
				<div class="col s2 m2 l2 xl2 ">
					<p class="center-align ">EXAMEN: {{ranking_default.id}}</p>
				</div>
				<div class="col s3 m3 l3 xl3 ">
					<p >AREA: {{ranking_default.area}}</p>
				</div>
				<div class="col s3 m3 l3 xl3">
					<p>FECHA: {{ranking_default.fecha}}</p>
				</div>
				<div class="col s4 m4 l4 xl4 ">
					<form method="GET">
					 <input type="text" name="ranking_id" value="{{ranking_default.id}}" style="display:none">
					 <button style="margin-top: 8px" class="btn-flat tooltipped waves-effect waves-teal col s12 m12 l12 xl12" data-position="bottom" data-tooltip="Generar Promedio" type="submit" name="get_promedio">Promedio: {{ranking_default.promedio|floatformat:"2"}}
				  	</button>
				    </form>    
					
				</div>
			</div>
			<h5 class="center-align"> Lista de Examenes</h5>
		</div>
		<div class="divider"></div>
		<div class="section">
			<table class="highlight">
				<thead>
					<tr>
						<th class="center-align">Posición</th>
						<th>DNI</th>
						<th>Nombre</th>
						<th>Nota</th>
					</tr>
				</thead>

				<tbody>
					{%for examen in ranking_default.examen_set.all|dictsortreversed:"nota" %}
					<tr>
						<td class="center-align">{{forloop.counter}}</td>
						<td>{{examen.estudiante.dni}}</td>
						<td>{{examen.estudiante.apellido}} , {{examen.estudiante.nombre}}</td>
						<td>{{examen.nota}}</td>						
					</tr>
					{%endfor%}
					
				</tbody>
			</table>
	
			 
		</div>
		
	</div>
	
</div>

{%endblock%}
{%block script_base%}
{%endblock%}