{%extends 'asistencia/index.html'%}
{% load static %}
{%block title%} Graficos{%endblock%}
{%block body%}

	<div class="row">
        <div class="col s6 m6 l6 xl6 container">
            <div class="container">
                <h5>Area: {{area_id}}</h5>
            </div>
            <canvas id="myChart"></canvas>
        </div>
        <div class="col s6 m6 l6 xl6 container">
            <div class="container">
                <h5>Ranking-Fecha: {{ranking_last.fecha}}</h5>
            </div>
            <canvas id="myChart_examenes"></canvas>
        </div>
		
	</div>



{%endblock%}
{%block script%}

<script src="{% static 'asistencia/js/Chart.min.js' %}"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
var elems = document.querySelectorAll('.sidenav');
var instances = M.Sidenav.init(elems);
});
 
var endpoint= "{%url 'asistencia:api-data' area_id %}"
var defaultData=[]
var defaultData_examenes=[]
var labels_examenes=[]
var labels=[];
$.ajax({
    method: "GET",
    url : endpoint,
    success: function(data){
        labels=data.labels
        labels_examenes=data.labels_examenes
        defaultData=data.default
        defaultData_examenes=data.default_items_examenes
        setChart_area_ranking()
        setChart_examenes_last()
    },

    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
function setChart_area_ranking(){
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'Promedio-Ranking',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
}
function setChart_examenes_last(){
    var ctx = document.getElementById('myChart_examenes').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels_examenes,
        datasets: [{
            label: 'Nota-Alumno',
            data: defaultData_examenes,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
}
</script>
{%endblock%}


{%block script_base%}
{%endblock%}