{% load static %}
<!DOCTYPE html>
<html>
<head>
		<title>{% block title%}Academia Municipal{% endblock %}</title>
		{% block header %}

		<link rel="stylesheet" type="text/css" href="{% static 'asistencia/css/materialize.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'asistencia/style.css' %}">
		
		<link rel="stylesheet" href="{% static 'asistencia/icons.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{% endblock %}

	</head>
<body>
	<div class="container">
		<canvas id="myChart" width="300" height="300"></canvas>
	</div>

	<p>Hello World</p>
</body>

<script type="text/javascript" src="{% static 'asistencia/js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'asistencia/js/Chart.min.js' %}"></script>
<script>
var endpoint= "{%url 'asistencia:api-data' area_id %}"
var defaultData=[]
var labels=['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'];
$.ajax({
	method: "GET",
	url : endpoint,
	success: function(data){
		labels=data.labels
		defaultData=data.default
		setChart()

	},

	error: function(error_data){
		console.log("error")
		console.log(error_data)
	}
})
function setChart(){
	var ctx = document.getElementById('myChart').getContext('2d');
	var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: '# of Votes',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
}


</script>
</html>
