{%load static%}

<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Log in | Acedemia Municipal</title>

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}" />




<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" login"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/asistencia/">Academia Municipal</a></h1>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        
        




<div id="content-main">
	<form method="post" id="login_form">	{% csrf_token %}
			<div class="form-row">
			 	<label for="username">Nombre de usuario: </label>
				<input class= "form-control" type="text" maxlength="254" name="username">
			</div>
			<div class="form-row" style="margin-left: 50px">
			 	<label for="username">Contraseña: </label>
				<input class= "form-control" type="password"  maxlength="254" name="password">
			</div>
			<div class="form-row">
				<a href="#">Olvide mi contraseña</a>
			</div>
			<div class="submit-row">
	    			
				<input class="btn btn-primary" type="submit" value="Ingresar">
	  		</div>


   
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>